In [29]:
#Import dependencies

import pandas as pd

In [30]:
#Designate URL

url = 'https://en.wikipedia.org/wiki/List_of_languages_by_time_of_extinction'

In [31]:
#Read tables from URL using pandas

tables = pd.read_html(url)

In [32]:
#Turn each table into a dataframe by index

twentyfirst_df = tables[1]
twentieth_df = tables[2]
nineteenth_df = tables[3]
eighteenth_df = tables[4]
seventeenth_df = tables[5]
sixteenth_df = tables[6]
fifteenth_df = tables[7]
fourteenth_df = tables[8]
thirteenth_df = tables[9]
eleven_twelve_df = tables[10]
tenth_df = tables[11]
ninth_df = tables[12]
seventh_df = tables[13]
sixth_df = tables[14]
fifth_df = tables[15]
fourth_df = tables[16]
third_df = tables[17]
second_df = tables[18]
first_df = tables[19]
first_BCE_df = tables[20]
second_BCE_df = tables[21]
third_BCE_df = tables[22]
fourth_BCE_df = tables[23]
fifth_BCE_df = tables[24]
sixth_BCE_df = tables[25]
seventh_BCE_df = tables[26]
second_mil_BCE_df = tables[27]

In [33]:
#Create new column designating the century of death for timeline charts 
#identify dates for each century

twentyfirst_df['Century of Death'] = '2001-2100'
twentieth_df['Century of Death']= '1901-2000'
nineteenth_df['Century of Death']= '1801-1900'
eighteenth_df['Century of Death'] = '1701-1800'
seventeenth_df['Century of Death'] = '1601-1700'
sixteenth_df['Century of Death'] = '1501-1600'
fifteenth_df['Century of Death'] = '1401-1500'
fourteenth_df['Century of Death'] = '1301 - 1400'
thirteenth_df['Century of Death'] = '1201-1300'
eleven_twelve_df['Century of Death'] = '1001-1200'
tenth_df['Century of Death'] = '901-1000'
ninth_df['Century of Death'] = '801-900'
seventh_df['Century of Death'] = '601-700'
sixth_df['Century of Death'] = '501-600'
fifth_df['Century of Death'] = '401-500'
fourth_df['Century of Death'] = '301-400'
third_df['Century of Death'] = '201-300'
second_df['Century of Death'] = '101-200'
first_df['Century of Death'] = '1-100'
first_BCE_df['Century of Death'] = '100-1 BCE'
second_BCE_df['Century of Death'] = '200-101 BCE'
third_BCE_df['Century of Death'] = '300-201 BCE'
fourth_BCE_df['Century of Death'] = '400-301 BCE'
fifth_BCE_df['Century of Death'] = '500-401 BCE'
sixth_BCE_df['Century of Death'] = '600-501 BCE'
seventh_BCE_df['Century of Death'] = '700-601 BCE'
second_mil_BCE_df['Century of Death'] = '2000-1001 BCE'

In [34]:
#Put all dataframes into a variable that we can concatinate into one large dataframe

all_frames = [twentyfirst_df, twentieth_df, nineteenth_df, eighteenth_df, seventeenth_df,
              sixteenth_df, fifteenth_df, fourteenth_df, thirteenth_df, eleven_twelve_df,
              tenth_df, ninth_df, seventh_df, sixth_df, fifth_df, fourth_df, third_df,
              second_df, first_df, first_BCE_df, second_BCE_df, third_BCE_df, fourth_BCE_df,
              fifth_BCE_df, sixth_BCE_df, seventh_BCE_df, second_mil_BCE_df]

#Concatinate all frames into one big dataframe

final_frames = pd.concat(all_frames)

In [35]:
#Delete the column names from the consolidated datframethat were indexed as a row of data
#update column headers

wiki_df = final_frames.drop([0,0],axis=0).rename(columns = {0: 'Date',
                                                 1: 'Language',
                                                 2: 'Language Family',
                                                 3: 'Region',
                                                 4: 'Notes'})
wiki_df.head()

,Date,Language,Language Family,Region,Notes,Century of Death
1,9 December 2016,Mandan,Siouan,"North Dakota, United States",with the death of Edwin Benson[1],2001-2100
2,30 August 2016,Wichita,Caddoan,"Oklahoma, United States",with the death of Doris McLemore[2],2001-2100
3,29 July 2016,Gugu Thaypan,Pama-Nyungan,"Queensland, Australia",with the death of Tommy George[3],2001-2100
4,February 2016,Nuchatlaht dialect of Nuu-chah-nulth,Wakashan,"British Columbia, Canada",with the death of Alban Michael[4],2001-2100
5,by 2016,Amurdag,Iwaidjan,"Northern Territory, Australia",with the death of Charlie Mungulda[5],2001-2100

In [37]:
wiki_df.to_csv(r'raw data', index=False)